<aside>
    <div class="container patient-padding">
        <div class="row name-container">
            <div class="name-info col-md-6">{{name}}</div>
            <a (click)="handle(id)"><button md-mini-fab >
                <md-icon class="md-24">edit</md-icon>
            </button></a>
        </div>
        <div class="birthday-container information-patient">
            <div class="title">Birthday:</div>
            <div class="birthday-info">{{birthDay}}</div>
        </div>
        <div class="address-container information-patient">
            <div class="title">Full Address:</div>
            <div class="address-info">{{fullAddress}}</div>
        </div>
    </div>
</aside>
