<div class="row container-height">
  <div class="col s3 m4 l2 container-height reset-padding container-patient">
    <patient-info [patient]="patient$ | async"></patient-info>
  </div>
  <div class="col s9 m8 l10 reset-padding">
    <nav>
      <div class="nav-wrapper breadcrumb-container reset-padding">
        <div class="col s12">
          <a (click)="goToBack()" class="breadcrumb">Patients</a>
          <a class="breadcrumb"></a>
        </div>
      </div>
    </nav>
    <router-outlet></router-outlet>
  </div>
</div>
