<a class="add-diagnosis" (click)="addDiagnosis()"><button md-mini-fab >
  <md-icon class="md-24">add</md-icon>
</button></a>
<div class="row">
  <div class="col l6 m12 s12">
    <grid-data [title] = "dataCurrentDiagnoses.title" [records]="dataCurrentDiagnoses.records" [columns]="dataCurrentDiagnoses.columns"  [additionElements] = "dataCurrentDiagnoses.buttons"></grid-data>
  </div>
  <div class="col l6 m12 s12">
    <grid-data [title] = "dataHistoryDiagnoses.title" [records]="dataHistoryDiagnoses.records" [columns]="dataHistoryDiagnoses.columns"></grid-data>
  </div>
</div>
