// using Modernizer CSS classes to detect if browser supports the W3C Touch Events API
:host-context(.mod-touchevents) [md-button]:hover::after, [md-icon-button]:hover::after {
    content: none;
}

#my-page-card {
  min-height: 100%;
}
body {
  background-color: #f7eeee;
}

:host/deep/ input {
  background-color: transparent;
  border: none;
  border-radius: 0;
  outline: none;
  height: inherit;
  width: 100%;
  font-size: inherit;
  margin: 0;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  transition: all 1s;
}
:host/deep/ input {
  background-color: transparent;
  border: none;
  border-radius: 0;
  outline: none;
  height: inherit;
  width: 100%;
  font-size: inherit;
  margin: 0;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  transition: none;
}

:host/deep/ input:focus {
  border-bottom: none;
  box-shadow: none;
}
